footer {
    position:relative;
    bottom:0;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color:#fff;
    height:60px;
    width:100%;
    border-top:1px #ccc solid;
}

