.filters {
    color:white;
    height:70px;
    width:100%;
    border: 1px #ddd solid;
    border-radius: 4px;
    position:relative
}

.filters button {
    font-size: 18px;
    background-color: #ff5a5f;
    color: #fff;
    height: 48px;
    width: 20%;
    border-radius: 4px;
    vertical-align: middle;
    border:none;
    position:absolute;
    right: 30px;
    top: 50%; 
}